<div th:fragment="attendanceByEntry" xmlns:th="http://www.thymeleaf.org" >
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">AttendanceList </h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>Student</th>
                            <th>Total Session</th>
                            <th>Total Attended</th>
                            <th>Percentage </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${attendances.empty}">
                            <td colspan="4" style="text-align: center">No Data</td>
                        </tr>
                        <tr th:each="attendance:${attendances}">
                            <td th:text="${attendance.student.firstName + ' '+attendance.student.lastName}"></td>
                            <td th:text="${attendance.totalSession}" ></td>
                            <td th:text="${attendance.totalAttended}"></td>
                            <td th:text="${attendance.attendedPercent}+'%'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>