<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">
<head th:include="layout::headerFrag(pageTitle='Add course')"></head>
<body th:include="layout::bodyFrag(pageBody='Add course')">
<div th:fragment="content">
    <div class=" grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Basic form</h4>
                <form class="forms-sample" th:action="@{/course/add}" method="post" th:object="${course}">

                    <ul th:if="${#fields.hasErrors('*')}">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is Incorrect</li>
                    </ul>
                    <div class="form-group" >
                        <input type="hidden" th:field="*{id}" class="form-control" id="id" >
                    </div>

                    <div class="form-group">
                        <label
                                for="name"><span th:text="#{course.form.name}">Course Name</span></label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           th:errorclass="fieldError">Invalid
                            ID</p>
                    </div>
                    <div class="form-group">
                        <label
                                for="courseId"><span th:text="#{course.form.courseId}">Last Name</span></label>
                        <input type="text" th:field="*{courseId}" class="form-control" id="courseId"
                               placeholder="short Name">
                        <p th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}"
                           th:errorclass="fieldError">Invalid
                            ID</p>
                    </div>
                    <div class="form-group">
                        <label for="shortName"><span th:text="#{course.form.shortName}">Description</span>
                        </label>
                        <input type="text" th:field="*{shortName}" class="form-control" id="shortName"
                               placeholder="shortName">
                        <p th:if="${#fields.hasErrors('shortName')}" th:errors="*{shortName}"
                           th:errorclass="fieldError">Invalid
                            ID</p>
                    </div>
                    <div class="form-group">
                        <label for="description"><span th:text="#{course.form.description}">Capacity</span></label>
                        <input type="text" th:field="*{description}" class="form-control" id="description"
                               placeholder="description">
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           th:errorclass="fieldError">Invalid
                            Building Capacity</p>

                        <button type="submit" class="btn btn-success mr-2" th:value="#{course.form.button.add}">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-success mr-2" th:value="#{course.form.button.reset}">
                            Rest
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>