<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">
<head th:include="layout::headerFrag(pageTitle='Section List')">
</head>
<body th:include="layout::bodyFrag(pageBody='Section List')">
<div th:fragment="content">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <a th:href="@{/section/add}" href="#">
                <button type="button" class="btn btn-inverse-primary btn-rounded ">Add Section</button>
            </a>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-description">
                    <code></code>
                </p>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Faculty</th>
                            <th>Course</th>
                            <th>Duration</th>
                            <th>Students</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${sections.empty}">
                            <td colspan="4">No Data</td>
                        </tr>
                        <tr th:each="section:${sections}">
                            <td th:text="${section.professor.firstName}+' ' +${section.professor.lastName}">Asaad</td>
                            <td th:text="${section.course.name}">WAA</td>
                            <td th:text="${section.duration.startDate}+' to '+${section.duration.endDate}">Date
                                Span</td>
                            <!--<td th:text="${#dates.format(student.entry, #messages.msg('app.dateformat'))}">May 15 2015</td>-->
                            <td>
                                <a th:href="@{'/section/listDetails'+'?'+'id='+${section.id}}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>