<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">
<head th:include="layout::headerFrag(pageTitle='Add Section')"></head>
<body th:include="layout::bodyFrag(pageBody='Add Section')">
<div th:fragment="content">
    <div class="row">
        <div class="col-md-6 d-flex align-items-stretch stretch-card grid-margin ">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Section Form</h4>
                        <form class="forms-sample" th:action="@{/section/add}" th:object="${section}" method="post">
                            <div class="form-group">
                                <label
                                        for="faculty"><span th:text="#{section.form.course}">Course</span></label>
                                <select id="course" th:field="*{course}" class="form-control">
                                    <option value="">Select Course</option>
                                    <option th:each="course: ${courses}"
                                            th:value="${course.id}"
                                            th:text="${course.name} + '  '+${course.shortName}">

                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label
                                        for="faculty"><span th:text="#{section.form.faculty}">Faculty</span></label>
                                <select id="faculty" th:field="*{professor}" class="form-control">
                                    <option value="">Select Faculty</option>
                                    <option th:each="professor: ${faculties}"
                                            th:value="${professor.id}"
                                            th:text="${professor.firstName} + '  '+${professor.lastName}">

                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label
                                        for="duration"><span th:text="#{section.form.duration}">Duration</span></label>
                                <select id="duration" th:field="*{duration}" class="form-control">
                                    <option value="">Select Duration</option>
                                    <option th:each="duration: ${durations}"
                                            th:value="${duration.id}"
                                            th:text="${duration.name}">

                                    </option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="studentInput"><span th:text="#{section.form.student}">Student</span></label>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input class="form-control " type="text" placeholder="search" id="search">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="button" class="btn btn-primary mr-2 " id="addStudent"
                                               value="Add Student"/>
                                    </div>
                              </div>
                                <div id="error" style="display: none">
                                    <h2 style="color: red">Student with the given Id DOES NOT EXIST!!!</h2>

                                </div>
                             <select style="display: none" id="studentInput" class="form-control"
                                        th:field="*{students}"
                                        multiple>

                                </select>
                            </div>
                            <button type="submit" class="btn btn-success mr-2" th:value="#{section.form.button.add}">ADD
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 grid-margin stretch-card ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Selected Students</h4>
                    <ol id="studentSelected">

                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<div layout:fragment="footer-script">
    <script th:inline="javascript">

        $('#addStudent').click(function () {
            console.log("this is a change function");
            console.log(contextRoot);

            let block = $('#search').val();
            console.log("this is duration value " + block);
            let data = {'block': block};
            console.log(data);
            let student = $('#studentSelected');
            let inputData = $('#studentInput');


            $.ajax({
                type: 'POST',
                url: '/section/getStudent?id=' + block,
                dataType: 'json',
                success: function (data) {
                    $('#error').hide();
                    student.append('<li>' + data.firstName + ' ' + data.lastName + '</li>');
                    inputData.append('<option value="' + data.id + '"selected>' + 'data.firstName' + ' ' + 'data.lastName' + '</option>');
                },
                error:function () {
                    $('#error').show();
                }
            });
        });
    </script>
</div>
</html>