<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head th:include="layout::headerFrag(pageTitle='location list')"></head>
<body th:include="layout::bodyFrag(pageBody='locationList')">
<div th:fragment="content">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <a  th:href="@{/location/add}" href="#">
                <button type="button" class="btn btn-inverse-primary btn-rounded ">Add Location</button>
            </a>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-description">
                    <code></code>
                </p>

                <div class="table-responsive">
                    <
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Short name</th>
                            <th>Description</th>
                            <th>Capacity</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${location.empty}">
                            <td colspan="4">No Data</td>
                        </tr>
                        <tr th:each="location:${location}">

                            <td th:text="${location.name}">Herman</td>
                            <td th:text="${location.shortName}">Beck</td>
                            <td th:text="${location.description}">Student Id</td>
                            <td th:text="${location.capacity}">Student Email</td>

                            <td>
                                <a th:href="@{'/location/edit'+'?'+'id='+${location.id}}"><button class="btn btn-dark btn-rounded btn-fw">Edit</button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{'/location/delete'+'?'+'id='+${location.id}}"><button class="btn btn-dark btn-rounded btn-fw">Remove</button>
                                </a>
                            </td>
                            <td>
                            <a th:href="@{'/location/details'+'?'+'id='+${location.id}}">
                                <button class="btn btn-blue btn-rounded btn-fw">Details</button>
                            </a>
                            </td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>