<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

        <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form class="forms-sample" th:action="@{/login}" method="post" th:object="${user}">
        <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is Incorrect</li>
        </ul>

        <div class="form-group">
                <label
                        for="userName">User Name</label>
                <input type="text" th:field="*{username}" class="form-control" id="userName" placeholder="User Name">
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   th:errorclass="fieldError">Invalid User Name</p>
        </div>
        <div class="form-group">
                <label
                        for="password">Password</label>
                <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Pass word">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   th:errorclass="fieldError">Invalid Password</p>
        </div>
        Remeber Me: <input type="Checkbox" name="remember-me"/>
        <button type="submit" class="btn btn-success mr-2" >Login</button>

</form>


</body>
</html>