<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head th:include="layout::headerFrag(pageTitle='studentList')"></head>
<body th:include="layout::bodyFrag(pageBody='studentList')">
<div th:fragment="content">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <a  th:href="@{/location/details}" href="#">
                <button type="button" class="btn btn-inverse-primary btn-rounded ">Add  Student</button>
            </a>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-description">
                   <code></code>
                </p>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Student</th>
                            <th>First name</th>
                            <th>Last Name</th>
                            <th>Student ID</th>
                            <th>Email</th>
                            <th>Entry</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                       <tr th:each="location:${students}">
                            <td class="py-1" >
                                <span th:text="${student.profilePicture}"></span>
                                <!--<img src="../../images/faces-clipart/pic-1.png" alt="image" />-->
                            </td>
                            <td th:text="${student.firstName}">Herman </td>
                            <td th:text="${student.lastName}">Beck</td>
                            <td th:text="${student.studentId}">Student Id</td>
                            <td th:text="${student.email}">Student Email</td>
                            <td th:text="${student.entry}">May 15, 2015</td>
                            <td>
                                <a th:href="@{/student/edit}"><button class="btn btn-dark btn-rounded btn-fw">Edit</button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/student/remove}"><button class="btn btn-dark btn-rounded btn-fw">Remove</button>
                                </a>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>