<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">
<head th:include="layout::headerFrag(pageTitle='Student Details')"></head>
<body th:include="layout::bodyFrag(pageBody='Student Details')">
<div th:fragment="content">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <a th:href="@{/student/add}" href="#">
                <button type="button" class="btn btn-inverse-primary btn-rounded ">Add Student</button>
            </a>
            <div class="card-body">
                <h4 class="card-title">Student Successfully Added </h4>
                <p class="card-description">
                    <code></code>
                </p>

                <div class="table-responsive">
                    <div>
                        <img th:src="@{'/images/'+${student.studentId}+'.png'}" alt="Image">
                    </div>
                    First Name: <span th:text="${student.firstName}"></span><br>
                    Last Name: <span th:text="${student.lastName}"></span><br>
                    Student ID: <span th:text="${student.studentId}"></span><br>
                    Email: <span th:text="${student.email}"></span><br>
                    Entry: <span th:text="${#dates.format(student.entry, #messages.msg('app.dateformat'))}"></span><br>

                    <a th:href="@{'/student/edit'+'?'+'id='+${student.id}}">
                        <button class="btn btn-blue btn-rounded btn-fw">Edit</button>
                    </a>
                    <a th:href="@{'/student/delete'+'?'+'id='+${student.id}}">
                        <button class="btn btn-blue btn-rounded btn-fw">Remove</button>
                    </a>
                    <a th:href="@{'/student/details'+'?'+'id='+${student.id}}">
                        <button class="btn btn-blue btn-rounded btn-fw">Details</button>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>