<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">
<head th:include="layout::headerFrag(pageTitle='Add Event')"></head>
<body th:include="layout::bodyFrag(pageBody='Add Event')">
<div th:fragment="content">
    <div class=" grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Event</h4>
                <p class="card-description">Add an event to collect attendance</p>
                <form class="forms-sample" th:action="@{/event/attendanceRecord}" enctype="multipart/form-data" method="post" >
                    <div class="form-group">
                        <label>File upload</label>
                        <!--<input type="file" name="attendanceRecord" class="file-upload-default">-->
                        <div class="input-group col-xs-12">
                            <input type="file" name="attendanceRecord" class="form-control file-upload-info"  placeholder="Upload Image">
                            <span class="input-group-append">
                          <button class="file-upload-browse btn btn-info" type="submit">Upload</button>
                        </span>
                        </div>
                    </div>
<!--
                    <button type="submit" class="btn btn-success mr-2" th:value="#{form.button.add}">save</button>
-->
                </form>
            </div>
        </div>
    </div>
    <div th:if="${records!= null && !records.empty}" th:replace="event/attendanceRecord/lists :: recorddList"></div>
</div>
</body>
</html>